<nb-layout>
  <nb-layout-column>
    <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="Loading..." nbSpinnerSize="giant" nbSpinnerStatus="success">
    <nb-chat title="Gemini chat" [status]="'success'" size="giant">
      @for( msg of messages; track msg.id){
        <nb-chat-message
        [type]="msg.type"
        [message]="msg.text"
        [reply]="msg.reply"
        [sender]="msg.user.name"
        [date]="msg.date"
        [avatar]="msg.user.avatar"
      >
    </nb-chat-message>
    }
    <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true"> </nb-chat-form>
    </nb-chat>
    </nb-card>
  </nb-layout-column>
</nb-layout>